/** {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(js/boxsizing.htc);
}*/

body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 16px;
    font-family: sans-serif;

    background-image: url(../images/gridme.png);
}

ul{
    margin:0;
}

.list {
    list-style: none;
}

.list li {
    float: right;
    margin-right: 1em;  
}

#stage {
    max-width: 1140px;
    min-height: 1000px;
    margin: auto;
    /*background: white;*/
    width: 90%;
    margin-top: 75px;
    z-index: 1000;
} 


.left {
    float: left;
}

.right {
    float: right;
}

.element-list-item {
    width: 280px;
    border: 2px solid red;
}

.main-element-img {
    width: 160px;
    height: 160px;
}

.main-element-info {
    list-style: none;
}


.main-container {
    background: white;
    margin: 0;
    padding-bottom: 1px;
    width: 100%;
    margin-top:16px;
    overflow: hidden;
}
.main-container .main-logo-line {
    margin: 0;
    padding-top: 10px;
}

.main-container .main-logo-line > span {
    display: block;
    height: 52px;
    margin: 0 auto 10px auto;
    overflow: hidden;
    width: 270px;
    font-size: 56px;
}

.discover {
    /*margin: 0 -17px 30px -17px;*/
    padding: 21px 0 21px 0;
    background: #F9F9F9;
    background: -moz-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F9F9F9),color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -o-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -ms-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9',endColorstr='#FFF0F0F0',GradientType=0);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.discover-cont {
    /*font-family: "proxima-nova-bold", "Helvetica Neue", Arial, sans-serif;*/
}

.transition {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
}

.co-listing {
    margin-top: 12px;
    list-style: none;
    overflow: hidden;
    text-align: center;
    /*text-align: center;*/
    width: 100%;
}

.co-listing li{
    /*float: left; */
    /*width: 24%;*/
    overflow: hidden;
    /*margin: 16px 0;*/
    float: left;
}

.co-listing li img{
    width: 263px;
}

.co-listing li div.content{
    min-width: 400px;
    max-width: 540px;
    width: 100%;
    padding:0 12px;
}

/*.co-listing li:nth-child(even) div.drop-shadow{
    float: right;
}

.co-listing li:nth-child(odd) div.drop-shadow{
    float: left;
}

.co-listing li:nth-child(odd) div.content {
    float: left;
}

.co-listing li:nth-child(even) div.content {
    float: right;
}*/

.content h2 {
    background:transparent url(../images/lines.png) repeat top left;
}

.co-listing li hr {
    background:transparent url(../images/lines.png) repeat top left;
}


.drop-shadow {
    position: relative;
    z-index: 1;
}
.drop-shadow:before,
.drop-shadow:after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:96px;
   left:3px;
   width:50%;
   height:20%;
   max-width:300px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
}

.drop-shadow:after{
   right:74px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }

.content-header {
  width: 80%;
  background: white;
  margin-top: -10px;
  padding-top: 4px;

  max-width: 962px;
  /*font: normal 400 100% proxima-nova,sans-serif;*/
  height: 164px;

  margin: 0 auto;
  /*font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;*/
}

.content-header .wrapper {
    max-width: 962px;
    margin: 0 auto;
}

.content-header div.page-title {
    color: #463F39;
    font-weight: 300;
    /*font-family: 'Playfair Display', serif;*/

    font-size: 47px;
    text-shadow: 0px 0px 1px black;
    /*text-transform: uppercase;*/

    margin: 10px auto;
    width: 30%;

    font-family: 'PT Sans Narrow' !important;
    width: 100%;
    text-align: center;
    line-height: 64px;
    /*font-family: 'Julius Sans One', sans-serif;*/
}

hr.rainbow {
    background: #87C045;
    background: -moz-linear-gradient(left,#87C045 0,#387EAD 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#87C045),color-stop(100%,#387EAD));
    background: -webkit-linear-gradient(left,#87C045 0,#387EAD 100%);
    background: -o-linear-gradient(left,#87C045 0,#387EAD 100%);
    background: -ms-linear-gradient(left,#87C045 0,#387EAD 100%);
    background: linear-gradient(left,#87C045 0,#387EAD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF87C045',endColorstr='#FF387EAD',GradientType=1);
    border: 0;
    height: 1px;
    margin: 12px 0;
}

.category-button-list {
    list-style: none;
    margin: 26px 0 10px 0;
}

.category-button-list li {
    display: inline-block;
    margin: 0 6px 5px 0;
}

.category-button-list .cat {
    border: 1px #E7E7E7 solid;
    display: inline-block;
    padding: 10px 8px;
    text-transform: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    background: -moz-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#F4F4F4));
    background: -webkit-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -o-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -ms-linear-gradient(top,white 0,#F4F4F4 100%);
    background: linear-gradient(top,white 0,#F4F4F4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFF4F4F4',GradientType=0);
    color: #8D8D8D;
    font-size: 13px;
    font-size: .813rem;
    font-weight: 400;
    text-shadow: -1px -1px 0 white;
    cursor: pointer;

    -moz-transition: color .4s ease-out 0s;
    -o-transition: color .4s ease-out 0s;
    -webkit-transition: color .4s ease-out 0s;
    -ms-transition: color .4s ease-out 0s;
    transition: all .4s ease-out 0s;

    /*font-family: 'Karla', sans-serif;*/
    font: normal 400 100% proxima-nova,sans-serif;
    /*font: normal 400 100% 'PT Sans Narrow' !important;*/
    /*font: normal 400 100% 'Droid Sans' !important;*/
}

.category-button-list .cat.is-gb {
    background: #ABD5C4;
    color: white;
    filter: none;
    text-shadow: none;
}

.category-button-list a.cat.is-gb:hover {
    color: white;
    background: #6EC0A8;
    background: -moz-linear-gradient(top,#6EC0A8 0,#4B9C84 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6EC0A8),color-stop(100%,#4B9C84));
    background: -webkit-linear-gradient(top,#6EC0A8 0,#4B9C84 100%);
    background: -o-linear-gradient(top,#6EC0A8 0,#4B9C84 100%);
    background: -ms-linear-gradient(top,#6EC0A8 0,#4B9C84 100%);
    background: linear-gradient(top,#6EC0A8 0,#4B9C84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6EC0A8',endColorstr='#FF4B9C84',GradientType=0);
}

.category-button-list a.cat:hover {
    border: 1px #DADADA solid;
    color: #595959;
}

a.cat:hover {
    outline: 0;
    text-decoration: none;
}

a.cat {
    text-decoration: none;
}

.PT-Sans-Narrow-normal-400 {
    font-family: 'PT Sans Narrow' !important;
    font-style: normal;
    font-weight: 400;
}

#tab-view{
    display:block;
    /*width:400px;*/
    margin:0 auto;
    /*border:1px solid red;*/
    padding:.5em;
    margin-top:1em;
    text-align:center;
}

#tab-view a{
    text-decoration:none;
    display: inline-block;

    background: white;
    background: -moz-linear-gradient(top,white 0,#e8e8e8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,white 0,#e8e8e8 100%);
    background: -o-linear-gradient(top,white 0,#e8e8e8 100%);
    background: -ms-linear-gradient(top,white 0,#e8e8e8 100%);
    background: linear-gradient(top,white 0,#e8e8e8 100%);

    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;

    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    border: 0;
    filter: none;
    color: #909090;
    padding: 10px 20px;
    position: relative;
     /*border-right: 1px dashed;*/
}

/*#tab-view a:last-child {
    border: none;
}*/
#tab-view a span {
    display:block;
/*    width:80px;
    height:80px;
    background:#eee;
    color:#000;
    line-height:80px;*/
  padding:10px;

    /*margin:.5em;*/
}

#tab-view a.passive:hover{
    
    color: white;
    background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
     /*border-right: 1px dashed;*/
}

#tab-view a.active{
    /*background: rgba(0,0,0,0.8);*/
    color: white;
    background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
     /*border-right: 1px dashed;*/
}


.category-list {
    list-style: none;
    margin: 0 0 20px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;

    margin: 0;
    position: relative;
    letter-spacing: .09em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;

    padding-top: 20px;
}

.category-list li {
    display: inline-block;
    margin: 0 4px 4px 0;

    border-left: 1px #DBDBDB solid;
    display: inline-block;
    /*font-weight: 600;*/
    margin: 0;
    margin-right: -4px;
    overflow: visible;
    position: relative;

    /*line-height: 16px;*/
}

.category-list li:first-child {
    border-left: none;
}

.category-list .cat {
    border: 1px #E7E7E7 solid;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    color: #117C5C;
    background: white;
    background: -moz-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#F4F4F4));
    background: -webkit-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -o-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -ms-linear-gradient(top,white 0,#F4F4F4 100%);
    background: linear-gradient(top,white 0,#F4F4F4 100%);
    filter:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFF4F4F4',GradientType=0);
    color: #8D8D8D;
    
/*    font-size: 13px;
    font-size: .813rem;
    font-weight: 600;*/
    cursor: pointer;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    filter: none;
    color: #909090;

    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    /*padding: 10px 10px;*/

/*    font-family: 'PT Sans Narrow' !important;
    font-style: normal;
    font-weight: 600;*/

/*    background: black;*/
}


.category-list .cat.active {
    border: 1px #DADADA solid;
    background: #F8F8F8;
    background: -moz-linear-gradient(top,#F8F8F8 0,#EEE 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F8F8F8),color-stop(100%,#EEE));
    background: -webkit-linear-gradient(top,#F8F8F8 0,#EEE 100%);
    background: -o-linear-gradient(top,#F8F8F8 0,#EEE 100%);
    background: -ms-linear-gradient(top,#F8F8F8 0,#EEE 100%);
    background: linear-gradient(top,#F8F8F8 0,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8F8F8',endColorstr='#FFEEEEEE',GradientType=0);
    color: #007C5B;

    border: 0;
    color: #117C5C;
    background: white;
    background: -moz-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#F4F4F4));
    background: -webkit-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -o-linear-gradient(top,white 0,#F4F4F4 100%);
    background: -ms-linear-gradient(top,white 0,#F4F4F4 100%);
    background: linear-gradient(top,white 0,#F4F4F4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFF4F4F4',GradientType=0);

    color: white;
    background: rgba(0, 0, 0, 0.8) !important;
}

.category-list-sl {
    display: block;
    height: 10px;
    margin: 0 0 20px 0;
    position: relative;
    width: 100%;
    background: transparent url(./img/sprite.v7.png) 0 -275px no-repeat;
    background-repeat: repeat-x;
    z-index: 0;
}

.category-list-sl::before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 108px;
    height: 10px;
    background: white url(./img/sprite.v7.png) -392px -252px no-repeat;
}

.category-list-sl::after {
    content: " ";
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 108px;
    z-index: 1;
    background: white url(./img/sprite.v7.png) -393px -233px no-repeat;
}

.category-list-active {
    display: block;
    height: 22px;
    left: 70px;
    position: absolute;
    top: -1px;
    width: 45px;
    background: transparent url(./img/sprite.v7.png) -328px -232px no-repeat;
    z-index: 2;
}

/*#tab-view {
    display: block;
    height: 10px;
    margin: 0 0 20px 0;
    position: relative;
    width: 100%;
    background: transparent url(./img/sprite.v7.png) 0 -275px no-repeat;
    background-repeat: repeat-x;
    z-index: 0;
}

#tab-view::before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 108px;
    height: 10px;
    background: white url(./img/sprite.v7.png) -392px -252px no-repeat;
}

#tab-view::after {
    content: " ";
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 108px;
    z-index: 1;
    background: white url(./img/sprite.v7.png) -393px -233px no-repeat;
}*/




.combine-list-wrapper:hover {
    box-shadow: inset 0px 0px 2px black;
    border-radius: 4px;
}

.combine-list-wrapper {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
/*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
}
.combine-list-item-line {
/*    -webkit-transition: all 0.57s ease;
    -moz-transition: all 0.57s ease;
    -ms-transition: all 0.57s ease;
    -o-transition: all 0.57s ease;
    transition: all 0.57s ease;*/
}
.combine-list-item-info {
/*    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;*/
}
.combine-list-item-info {
    z-index:0; 
    color: white; 
    opacity: 0;
    position: absolute; 
    width: 100%;
    top:0; 
    left: 0; 
    height: 25px; 
    background: rgba(0,0,0,0.8)
}
.combine-list-wrapper:hover .combine-list-item-info {
    opacity: 1;
}

.combine-list-item-line {
    /*display: op;*/
    opacity: 0;
}
.combine-list-wrapper:hover .combine-list-item-line {
    display: block;
    opacity: 1;
}