/** {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(js/boxsizing.htc);
}*/

body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 16px;
    font-family: 'PT Sans', sans-serif;

    background-image: url('/images/sht.png');
}

ul{
    margin:0;
}

.list {
    list-style: none;
}

.list li {
    float: right;
    margin-right: 1em;  
}

#stage {
    width: 962px;
    min-height: 1000px;
    margin: auto;
    background: white;
} 


.left {
    float: left;
}

.right {
    float: right;
}

.element-list-item {
    width: 280px;
    border: 2px solid red;
}

.main-element-img {
    width: 160px;
    height: 160px;
}

.main-element-info {
    list-style: none;
}


.main-container {
    background: white;
    margin: 0;
    padding-bottom: 1px;
    width: 100%;
    margin-top:16px;
}
.main-container .main-logo-line {
    margin: 0;
    padding-top: 10px;
}

.main-container .main-logo-line > span {
    display: block;
    height: 52px;
    margin: 0 auto 10px auto;
    overflow: hidden;
    width: 270px;
    font-size: 56px;
}

.discover {
    /*margin: 0 -17px 30px -17px;*/
    padding: 21px 0 21px 0;
    background: #F9F9F9;
    background: -moz-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F9F9F9),color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -o-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: -ms-linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    background: linear-gradient(top,#F9F9F9 0,#F0F0F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9',endColorstr='#FFF0F0F0',GradientType=0);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.discover-cont {
    /*font-family: "proxima-nova-bold", "Helvetica Neue", Arial, sans-serif;*/
}

.transition {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
}

